---
import Card, { type CardProps } from '../components/card.astro'
import Layout from '../layouts/Layout.astro'

const challenges = [
  {
    title: 'Comparison Widget',
    url: '/gui-challenges/compare',
    imageURL: '/assets/gui-challenges/comparison-widget.png',
  },
  {
    title: 'Form Pick Lists',
    url: '/gui-challenges/picklists',
    imageURL: '/assets/gui-challenges/picklist.png',
  },
  {
    title: 'Card Stacks',
    url: '/gui-challenges/card-stack',
    imageURL: '/assets/gui-challenges/card-stacks.png',
  },
] satisfies CardProps[]
---

<Layout title='UI Showcases'>
  <main class='dark'>
    <div>
      <h1>UI Showcases</h1>

      <p>
        Here are some examples of web-ui components/concepts that I enjoy and
        want to keep as a reference.
      </p>
    </div>

    <div class='challenges'>
      {challenges.map(challenge => <Card {...challenge} />)}
    </div>
  </main>
</Layout>

<style>
  @import 'open-props/switch/dark' layer(demo.theme);

  @layer demo.support {
    .dark {
      color: var(--text-1);
      gap: var(--size-10);
      padding-inline: var(--size-3);
      padding-inline: max(var(--size-3), env(safe-area-inset-left));
      background: var(--surface-1);
    }
  }

  @layer demo {
    main {
      display: flex;
      flex-direction: column;
      gap: var(--size-3);
      padding: var(--size-3);

      > .challenges {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-3);
      }
    }

    h1 {
      font-weight: var(--font-weight-6);
      font-size: var(--font-size-6);
      margin: 0;
    }
  }
</style>
