---
import Card, { type CardProps } from '../components/card.astro'
import Layout from '../layouts/Layout.astro'

const challenges = [
  {
    title: 'Comparison Widget',
    url: '/gui-challenges/compare',
    imageURL: '/assets/gui-challenges/comparison-widget.png',
  },
] satisfies CardProps[]
---

<Layout title='UI Showcases'>
  <main class='space-y-8 p-4'>
    <div>
      <h1 class='text-2xl font-medium'>UI Showcases</h1>

      <p>
        Here are some examples of web-ui components/concepts that I enjoy and
        want to keep as a reference.
      </p>
    </div>

    <div class='flex flex-wrap gap-4'>
      {challenges.map(challenge => <Card {...challenge} />)}
    </div>
  </main>
</Layout>
