---
type Props = { imageURL?: string; title: string; url: string }
export type CardProps = Props

const { imageURL, title, url } = Astro.props
---

<a href={url}>
  <div class='card'>
    <div>
      {
        imageURL && (
          <img
            src={imageURL}
            alt={title}
          />
        )
      }
    </div>

    <p>{title}</p>
  </div>
</a>

<style>
  .card {
    max-width: var(--size-13);
    display: grid;
    gap: var(--size-3);
    background-color: hsla(0, 100%, 100%, 0.1);
    border-radius: var(--radius-2);
    padding: var(--size-3);
    > div {
      min-height: 200px;
      border-start-start-radius: var(--radius-2);
      background-color: hsla(0, 100%, 100%, 0.1);

      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
      }

    }
    > p {
      cursor: pointer;
      text-align: right;
      text-decoration: underline;
      color: var(--link);
    }
  }
</style>